body{
    font: 15px/1.5 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: #222629
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header*/
header{
    background: #222629;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #86C232 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #navbar{
    float: left;
}

header #navbar h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #86C232;
    font-weight: bold;
}

header a:hover{
    color: #86C232;
    font-weight: bold;
}

/*Showcase*/
#showcase{
    background: url("../img/showcase.jpeg") no-repeat 0 -100px;
    min-height: 400px;
    text-align: center;
    color: #222629;
    background-size: cover;
}

#showcase h1{
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 10px; 
}

#showcase p{
    font-size: 20px;
}

/*Banner*/
#banner{
    margin-top: 20px; 
}

#banner .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#banner .box img{
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
}

#banner .box h3{
    color: #86C232;
}

#banner .box p{
    color: #ffffff;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #86C232;
    background-color:#222629 ;
    text-align: center;
}